{% extends 'mall_test/base.html' %}

{% block content %}
    <h2>
        결제하기
    </h2>
    {% comment %} 내용 json 형식으로 보내줌 {% endcomment %}
    {{ payment_props|json_script:"payment_props"}}
    {% comment %} 결제 후 결제내역으로 이동하기 위함 {% endcomment %}
    <script>window.PAYMENT_CHECK_URL="{{ payment_check_url }}";</script>

    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script>
        (function(){
            const IMP = window.IMP;
            const code = "{{ portone_shop_id }}";
            IMP.init(code);

            const json_props = document.querySelector("#payment_props").textContent;
            const props = JSON.parse(json_props)
           
            IMP.request_pay(props, function(response){
                // 서버단에서 restapi 호출은 반드시 일어나야하기 
                // 때문에 콜백함수에서 성공실패여부 확인하지않음
                console.log(response);
                location.href = window.PAYMENT_CHECK_URL;
            });

        })();
    </script>



{% endblock  %}